<form [formGroup]="newStudentForm" class="newStudentForm">
    <mat-form-field>
        <mat-label>Nom :</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label> Identifiant du professeur :</mat-label>
        <input matInput type="text" formControlName="profId">
    </mat-form-field>
    <button class="mat-mini-fab-submit" mat-mini-fab color="primary" type="submit" (click)="onSubmit()" [disabled]="!newStudentForm.valid"><mat-icon>arrow_right_alt</mat-icon></button>

</form>
