<form [formGroup]="newStudentForm" class="newStudentForm">
    <mat-form-field>
        <mat-label>Nom :</mat-label>
        <input formControlName="name" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label> Identifiant du professeur :</mat-label>
        <input formControlName="profId" matInput type="text">
    </mat-form-field>
    <button (click)="onSubmit()" [disabled]="!newStudentForm.valid" class="mat-mini-fab-submit" color="primary" mat-mini-fab
            type="submit">
        <mat-icon>arrow_right_alt</mat-icon>
    </button>

</form>
