<mat-toolbar color=accent>
    <nav>
        <ul>
            <li>
                <div class="nav-header"><span>Chantier</span><mat-icon>keyboard_arrow_down</mat-icon></div>
                <ul>
                    <li><a [routerLink]="['/fiche-intervention']" routerLinkActive="active">Fiche d'intervention</a></li>
                    <li><a [routerLink]="['/liste-chantier']" routerLinkActive="active">Liste des Fiches</a></li>
                </ul>
            </li>
            <li>
                <div class="nav-header"><span>Demande de chantier</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <ul>
                    <li><a [routerLink]="['/nouvelle-demande-de-chantier']" routerLinkActive="active">Nouvelle Demande
                        de Chantier</a></li>
                    <li><a [routerLink]="['/liste-demande-de-chantier']" routerLinkActive="active">Liste des Demande de
                        Chantier</a></li>
                </ul>
            </li>
            <li>
                <div class="nav-header"><span>Site</span><mat-icon>keyboard_arrow_down</mat-icon></div>
                <ul>
                    <li><a [routerLink]="['/nouveau-site']" routerLinkActive="active">Nouveau Site</a></li>
                    <li><a [routerLink]="['/liste-site']" routerLinkActive="active">Liste des Sites</a></li>
                </ul>
            </li>
            <li>
                <div class="nav-header"><span>Client</span><mat-icon>keyboard_arrow_down</mat-icon></div>
                <ul>
                    <li><a [routerLink]="['/nouveau-client']" routerLinkActive="active">Nouveau Client</a></li>
                    <li><a [routerLink]="['/liste-client']" routerLinkActive="active">Liste des Clients</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</mat-toolbar>
