<mat-toolbar color="secondary">
    <nav>
        <a [routerLink]="['/liste-chantiers']" routerLinkActive="active">Liste des Chantiers</a>
        <a [routerLink]="['/nouveau-demande-de-chantier']" routerLinkActive="active">Nouvelle Demande de Chantier</a>
        <a [routerLink]="['/nouveau-chantier']" routerLinkActive="active">Nouveau Chantier</a>
        <a [routerLink]="['/nouveau-site']" routerLinkActive="active">Nouveau Site</a>
        <a [routerLink]="['/nouveau-client']" routerLinkActive="active">Nouveau Client</a>
    </nav>
</mat-toolbar>