.detail-chantier-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.left-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-button-detail-chantier {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.mat-card-title-custom {
    margin: 0 auto !important;
}

.detail-chantier-card-content {
    display: flex;
    height: 100%;
}

.detail-chantier-principal-content {
    flex-grow: 2;
}

.date {
    text-align: justify;
}

.etat-actuel {
    font-style: italic;
    text-transform: lowercase;
}

.header-detail-chantier {
    text-align: left;
}

img {
    max-width: 150px;
    max-height: 150px;
    position: relative;
}

mat-list {
    height: 100%;
}

mat-list-item {
    height: 100%;
}

.probleme-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item-ouvrier {
    height: 24px;
}

li {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.detail-chantier-card {
    flex-grow: 2;
}
