<form [formGroup]="nouveauChantierForm" *ngIf="chantier != undefined">
    <fieldset>
        <legend>Référence intervention</legend>
        <mat-form-field>
            <mat-label>Site :</mat-label>
            <mat-select [(value)]="selectedSite.id">
                <mat-option  *ngFor="let site of sites" (click)="changeSite(site)" [value]=site.id>{{site.nomSite}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="filled-button" color="primary" mat-raised-button routerLink="/nouveau-client">Nouveau client</button>
        <mat-form-field>
            <mat-label>Filtrer les clients :</mat-label>
            <input [(ngModel)]="filtreClient" [ngModelOptions]="{standalone: true}" matInput type="search">
        </mat-form-field>
        <mat-form-field>
            <mat-select [(value)]="selectedClient.id">
                <mat-option *ngFor="let client of (clients | filtreNomPrenom:['nom','prenom']:filtreClient)"
                            (click)="changeClient(client)"
                            [value]=client.id>{{client.nom}} {{client.prenom}}</mat-option>
            </mat-select>
        </mat-form-field>
    </fieldset>
    <fieldset>
        <legend>Nombre d'ouvrier</legend>
        <mat-form-field>
            <mat-label>Nombre d'ouvriers :</mat-label>
            <input formControlName="nbOuvrier" matInput type="number">
        </mat-form-field>
    </fieldset>
    <fieldset>
        <legend>Lieu d'intervention</legend>
        <mat-form-field>
            <mat-label>Adresse :</mat-label>
            <input formControlName="adresse" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Complément :</mat-label>
            <input formControlName="complement" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Code Postal :</mat-label>
            <input formControlName="codePostal" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ville :</mat-label>
            <input formControlName="ville" matInput type="text">
        </mat-form-field>
    </fieldset>
    <fieldset>
        <legend>Estimation temps</legend>
        <mat-form-field>
            <mat-label>Estimation Temps :</mat-label>
            <input formControlName="estimationTemps" matInput type="number">
        </mat-form-field>
    </fieldset>
    <fieldset>
        <legend>Informations du chantier</legend>
        <mat-form-field>
            <mat-label>Téléphone associée :</mat-label>
            <input formControlName="telephone" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Status de Chantier :</mat-label>
            <mat-select formControlName="statusChantier">
                <mat-option *ngFor="let option of states" [value]=option>{{status(option)}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nom du chantier :</mat-label>
            <input formControlName="nomChantier" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Informations internes :</mat-label>
            <input formControlName="informationsInterne" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description :</mat-label>
            <input formControlName="description" matInput type="text">
        </mat-form-field>
    </fieldset>
</form>

<mat-checkbox (change)="resetJours()">Regularite</mat-checkbox>
<br>
<div *ngIf="regularite">
    <form [formGroup]="nouveauChantierForm">
        <fieldset>
            <legend>Régularité</legend>
            <mat-form-field>
                <mat-label>Date Debut-Fin Régularité :</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input formControlName="dateDebutRegularite" matStartDate placeholder="Start date">
                    <input formControlName="dateFinRegularite" matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <div>
                <mat-checkbox (change)="change(jourSemaineType.LUNDI)" formNameArray="joursArray">Lundi</mat-checkbox>
                <mat-checkbox (change)="change(jourSemaineType.MARDI)" formNameArray="joursArray">Mardi</mat-checkbox>
                <mat-checkbox (change)="change(jourSemaineType.MERCREDI)" formNameArray="joursArray">Mercredi
                </mat-checkbox>
                <mat-checkbox (change)="change(jourSemaineType.JEUDI)" formNameArray="joursArray">Jeudi</mat-checkbox>
                <mat-checkbox (change)="change(jourSemaineType.VENDREDI)" formNameArray="joursArray">Vendredi
                </mat-checkbox>
                <mat-checkbox (change)="change(jourSemaineType.SAMEDI)" formNameArray="joursArray">Samedi</mat-checkbox>
                <mat-checkbox (change)="change(jourSemaineType.DIMANCHE)" formNameArray="joursArray">Dimanche
                </mat-checkbox>
            </div>
        </fieldset>
    </form>
</div>

<button *ngIf="standalone" (click)="onSubmit()" class="filled-button" color="primary" mat-raised-button>Enregistrer</button>
