<div class="titre-list-chantiers">
</div>
<div class="list-chantier-wrapper">
  <div class="left-content">
    <mat-card>
      <div class="left-buttons-filtre">
        <button color="primary" mat-raised-button>Lieu</button>
        <button color="primary" mat-raised-button>Durée</button>
        <button color="primary" mat-raised-button>Matériel</button>
    </div>
    </mat-card>
  </div>
</div>




<div id="1" class="item new col-md-4" *ngFor="let item of chantiers">
    <a href="single-product.html">
      <div class="featured-item">
        <h4>{{item.site}}</h4>
      </div>
    </a>
  </div>
