<div class="titre-list-chantiers">
</div>
<div class="outils-wrapper">
    <div class="left-content">
        <mat-card>
            <div class="left-buttons-filtre">
                <button class="filled-button" color="primary" mat-raised-button>Lieu</button>
                <button class="filled-button" color="primary" mat-raised-button>Durée</button>
                <button class="filled-button" color="primary" mat-raised-button>Matériel</button>
            </div>
        </mat-card>
    </div>
</div>

<div class="list-de-chantiers-wrapper">
    <mat-toolbar>
        <input matInput placeholder="rechercher" value="Cherche">
        <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>

    <div class="list">
        <mat-card *ngFor="let item of obs | async">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.nomChantier}}
                    </mat-panel-title>
                    <button mat-icon-button [routerLink]="['/fiche-intervention',item.id]">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <button (click)="toDeleteChantier(item.id)" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="60px" rowWidth="120px">
                        <mat-grid-tile>
                            <ul>
                                <li><b>Adress: </b> {{item.adresse}}</li>
                                <li><b>Site: </b> {{item.site.nomSite}}</li>
                                <li><b>Chef du site: </b> {{item.site.nomChef}}</li>
                            </ul>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <ul>
                                <li><b>Début-fin: </b> {{item.dateDebutEffectif}} - {{item.dateFinEffectif}} </li>
                                <li><b>Etat: </b> {{item.statusChantier}}</li>
                            </ul>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <mat-toolbar>
        <mat-paginator [length]="length" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-toolbar>
</div>

