<div class="titre-list-chantiers">
</div>
<div class="outils-wrapper">
    <div class="left-content">
        <mat-card>
            <div class="left-buttons-filtre">
                <button color="primary" mat-raised-button>Lieu</button>
                <button color="primary" mat-raised-button>Durée</button>
                <button color="primary" mat-raised-button>Matériel</button>
            </div>
        </mat-card>
    </div>
</div>

<div class="list-de-chantiers-wrapper">
    <mat-toolbar>
        <input matInput placeholder="rechercher" value="Cherche">
        <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>

    <div class="list">
        <mat-card *ngFor="let item of obs | async">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.nomChantier}}
                    </mat-panel-title>
                    <button (click)="toDetaileChantier" mat-icon-button>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <div>
                        <p>Adress: {{item.adresse}}</p>
                        <p>Site: {{item.site}}</p>
                        <p>Chef du site: {{item.site.nomChef}}</p>
                        <p>Nom de chantier: {{item.nomChantier}}</p>
                        <p>Début-fin: {{item.dateDebutEffectif}} - {{item.dateFinEffectif}} </p>
                        <p>Etat: {{item.statusChantier}}</p>
                </div>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <mat-toolbar>
        <mat-paginator [length]="length"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                      >
        </mat-paginator>
    </mat-toolbar>

    <button mat-raised-button routerLink="/nouveau-chantier"> Nouveau Chantier </button>
</div>
