<div class="titre-list-clients">
</div>
<div class="outils-wrapper">
    <div class="left-content">
        <mat-card>
            <div class="left-buttons-filtre">
                <button class="filled-button" color="primary" mat-raised-button>Lieu</button>
                <button class="filled-button" color="primary" mat-raised-button>Durée</button>
                <button class="filled-button" color="primary" mat-raised-button>Matériel</button>
            </div>
        </mat-card>
    </div>
</div>

<!--
<button mat-button (click)="accordion.openAll()">Expand All</button>
-->
<div class="list-de-clients-wrapper">
    <mat-toolbar>
        <input matInput placeholder="rechercher" value="Cherche">
        <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>

    <div class="list">
        <mat-card *ngFor="let item of obs | async">
            <mat-expansion-panel [expanded]=true hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.nom}} {{item.prenom}}
                    </mat-panel-title>
                    <button mat-icon-button [routerLink]="['/detail-client',item.id]">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <button (click)="toDeleteClient(item.id)" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <div>
                    <p>Nom: {{item.nom}}</p>
                    <p>Prénom: {{item.prenom}}</p>
                    <p>Adresse: {{item.adresse}}</p>
                    <p>Téléphone: {{item.telephone}}</p>
                    <p>Mail: {{item.mail}}</p>
                    <p>Information complémentaire: {{item.infoComplementaire}}</p>
                </div>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <mat-toolbar>
        <mat-paginator [length]="length"
                       [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
    </mat-toolbar>
    <button mat-raised-button routerLink="/nouveau-client"> Nouveau Client</button>

</div>


