<div class="titre-list-clients">
</div>
<div class="outils-wrapper">
    <div class="left-content">
        <mat-card>
            <div class="left-buttons-filtre">
                <button class="filled-button" color="primary" mat-raised-button>Lieu</button>
                <button class="filled-button" color="primary" mat-raised-button>Durée</button>
                <button class="filled-button" color="primary" mat-raised-button>Matériel</button>
            </div>
        </mat-card>
    </div>
</div>

<!--
<button mat-button (click)="accordion.openAll()">Expand All</button>
-->
<div class="list-de-clients-wrapper">
    <mat-toolbar>
        <input matInput placeholder="rechercher" value="Cherche">
        <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>

    <div class="list">
        <mat-card *ngFor="let item of obs | async">
            <mat-expansion-panel [expanded]=true hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.nom}} {{item.prenom}}
                    </mat-panel-title>
                    <button mat-icon-button [routerLink]="['/detail-client',item.id]">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <button (click)="toDeleteClient(item.id)" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="60px" rowWidth="120px">
                        <mat-grid-tile>
                            <ul>
                                <li><b>Nom: </b>{{item.nom}}</li>
                                <li><b>Prénom: </b>{{item.prenom}}</li>
                                <li><b>Mail: </b>{{item.mail}}</li>
                            </ul>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <ul>
                                <li><b>Adresse: </b>{{item.adresse}}</li>
                                <li><b>Telephone: </b>{{item.telephone}}</li>
                                <li><b>Information complémentaire: </b>{{item.infoComplementaire}}</li>
                            </ul>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <mat-toolbar>
        <mat-paginator [length]="length"
                       [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
    </mat-toolbar>
    <button mat-raised-button routerLink="/nouveau-client"> Nouveau Client</button>

</div>


