<h2>Section planning</h2>
<form [formGroup]="formAdministration" *ngIf="chantier != undefined">
    <fieldset>
        <legend>Noms des ouvriers</legend>
        <mat-form-field *ngFor="let i of numbers" ><mat-label>Ouvrier :</mat-label><input formControlName="{{i.toString()}}" matInput type="text"></mat-form-field>
        <mat-label>Conducteur</mat-label>
        <mat-checkbox formControlName="conducteur"></mat-checkbox>
    </fieldset>
</form>
<br/>
<br/>
<mat-divider></mat-divider>
<br/>
<app-formulaire-commercial [standalone]="false" [chantier]="chantier"></app-formulaire-commercial>
<div>
    <button  (click)="onSubmit()" class="filled-button-saved" color="primary" mat-raised-button>Enregistrer</button>
</div>
<button class="filled-button-validation" color="primary" mat-raised-button [routerLink]="['/detail-chantier',chantier.id]">Résumé</button>
