<form [formGroup]="formAdministration">
    <fieldset>
        <legend>Dates</legend>
        <mat-form-field>
            <mat-label>Date Debut-Fin Théorique :</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input formControlName="dateDebutTheorique" matStartDate placeholder="Start date" [ngModel]="chantier.dateDebutTheorique">
                <input formControlName="dateFinTheorique" matEndDate placeholder="End date" [ngModel]="chantier.dateFinTheorique">
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </fieldset>
    <fieldset>
        <legend>Ouvrier et matériel</legend>
        <mat-form-field *ngFor="let i of numbers"><mat-label>Ouvrier :</mat-label><input formControlName="{{i.toString()}}" matInput type="text"></mat-form-field>
        <mat-form-field ><mat-label>Matériel :</mat-label><input formControlName="materiel" matInput type="text"></mat-form-field>
    </fieldset>
</form>
<app-formulaire-estimation [chantier]="chantier" [standalone]="false"></app-formulaire-estimation>
