<h2>Section commercial</h2>
<form [formGroup]="formCommercial">
    <fieldset>
        <legend>Dates</legend>
        <mat-form-field>
            <mat-label>Date Debut-Fin Théorique :</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input formControlName="dateDebutTheorique" matStartDate placeholder="Date de Début">
                <input formControlName="dateFinTheorique" matEndDate placeholder="Date de Fin">
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </fieldset>
    <fieldset>
        <mat-label>Devis</mat-label>
        <ngx-mat-file-input></ngx-mat-file-input>
    </fieldset>
</form>
<br/>
<br/>
<mat-divider></mat-divider>
<br/>
<app-formulaire-estimation [chantier]="chantier" [standalone]="false"></app-formulaire-estimation>
<div *ngIf="standalone">
    <button  (click)="onSubmit()" class="filled-button-saved" color="primary" mat-raised-button>Enregistrer</button>
</div>
