<div class="titre-list-demandes">
</div>
<div class="outils-wrapper">
    <div class="left-content">
        <mat-card>
            <div class="left-buttons-filtre">
                <button class="filled-button" color="primary" mat-raised-button>Lieu</button>
                <button class="filled-button" color="primary" mat-raised-button>Durée</button>
                <button class="filled-button" color="primary" mat-raised-button>Matériel</button>
            </div>
        </mat-card>
    </div>
</div>
<div class="list-de-demandes-wrapper">
    <mat-toolbar>
        <input matInput placeholder="rechercher" value="Cherche">
        <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>

    <div class="list">
        <mat-card *ngFor="let item of obs | async">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Demande {{item.id }} du Site {{item.site.nomSite}}
                    </mat-panel-title>
                    <button mat-icon-button [routerLink]="['/detail-demande-de-chantier',item.id]">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <button (click)="toDeleteDemande(item.id)" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="80px" rowWidth="120px">
                        <mat-grid-tile>
                            <ul>
                                <li><b>Nom du site: </b> {{item.site.nomSite}}</li>
                                <li><b>Nom du client: </b>{{item.client.nom}} {{item.client.prenom}}</li>
                                <li><b>Informations internes: </b>{{item.informationsInterne}}</li>
                            </ul>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <ul>
                                <li><b>Nombre de ouvrier: </b>{{item.nombreEmployes}}</li>
                                <li><b>Description: </b> {{item.description}}</li>
                                <li><b>Matériel: </b>{{item.materiel}}</li>
                                <li><b>Estimation du temps: </b>{{item.estimationTemps}}</li>
                            </ul>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <mat-toolbar>
        <mat-paginator [length]="length"
                       [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
    </mat-toolbar>
    <button mat-raised-button routerLink="/nouvelle-demande-de-chantier"> Nouvelle Demande de Chantier</button>

</div>



