<div class="titre-list-demandes">
</div>
<div class="outils-wrapper">
    <div class="left-content">
        <mat-card>
            <div class="left-buttons-filtre">
                <button class="filled-button" color="primary" mat-raised-button>Lieu</button>
                <button class="filled-button" color="primary" mat-raised-button>Durée</button>
                <button class="filled-button" color="primary" mat-raised-button>Matériel</button>
            </div>
        </mat-card>
    </div>
</div>
<div class="list-de-demandes-wrapper">
    <mat-toolbar>
        <input matInput placeholder="rechercher" value="Cherche">
        <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>

    <div class="list">
        <mat-card *ngFor="let item of obs | async">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Demande {{item.id }} du Site {{item.site.nomSite}}
                    </mat-panel-title>
                    <button (click)="toDetaileDemande" mat-icon-button>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <button (click)="toDeleteDemande(item.id)" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <div>
                    <p> Nom du site : {{item.site.nomSite}}</p>
                    <p> Adresse : {{item.adresse}}</p>
                    <p> Nom du client : {{item.client.nom}} {{item.client.prenom}}</p>
                    <p *ngIf="item.regularite"> Jours de régularités
                        : {{item.getJours(item.joursRegularite)}}</p>
                    <p> Informations internes : {{item.informationsInterne}}</p>
                    <p> Nombre de ouvrier : {{item.nombreEmployes}}</p>
                    <p> Description : {{item.description}}</p>
                    <p> Matériel : {{item.materiel}}</p>
                    <p> Estimation du temps : {{item.estimationTemps}}</p>
                </div>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <mat-toolbar>
        <mat-paginator [length]="length"
                       [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
    </mat-toolbar>
    <button mat-raised-button routerLink="/nouvelle-demande-de-chantier"> Nouvelle Demande de Chantier</button>

</div>



