.titre-list-sites {
    margin-left: auto;
    margin-right: auto;
    height: 20%;
}

.outils-wrapper {
    width: 20%;
    position: absolute;
    left: auto;
    flex-direction: column;
    justify-content: space-between;
}

.list-de-sites-wrapper {
    width: 65%;
    position: absolute;
    left: 30%;
    flex-direction: column;
    justify-content: space-between;
}
