<div class="titre-list-sites">
</div>
<div class="outils-wrapper">
    <div class="left-content">
        <mat-card>
            <div class="left-buttons-filtre">
                <button class="filled-button" color="primary" mat-raised-button>Lieu</button>
                <button class="filled-button" color="primary" mat-raised-button>Durée</button>
                <button class="filled-button" color="primary" mat-raised-button>Matériel</button>
            </div>
        </mat-card>
    </div>
</div>
<div class="list-de-sites-wrapper">
    <mat-toolbar>
        <input matInput placeholder="rechercher" value="Cherche">
        <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>

    <div class="list">
        <mat-card *ngFor="let item of obs | async">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.nomSite}}
                    </mat-panel-title>
                    <button (click)="toDetaileSite" mat-icon-button [routerLink]="['/detail-site',item.id]">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                    <button (click)="toDeleteSite(item.id)" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-expansion-panel-header>
                <div>
                    <p> Nom : {{item.nomSite}}</p>
                    <p> Adresse : {{item.adresse}}</p>
                    <p> Mail : {{item.mail}}</p>
                    <p> Chef : {{item.nomChef}} {{item.prenomChef}}</p>
                    <p> Telephone : {{item.telephone}}</p>
                </div>
            </mat-expansion-panel>
        </mat-card>
    </div>
    <mat-toolbar>
        <mat-paginator [length]="length"
                       [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
    </mat-toolbar>
    <button mat-raised-button routerLink="/nouveau-site"> Nouveau Site</button>

</div>

