<h1>
    Demande de Chantier
</h1>
<form [formGroup]="demandeDeChantierForm">
    <mat-form-field>
        <mat-label>Site :</mat-label>
        <mat-select formControlName="site">
            <mat-option *ngFor="let site of sites" [value]=site>{{site.nomSite}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Heure :</mat-label>
        <input formControlName="heure" matInput type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Minute :</mat-label>
        <input formControlName="minute" matInput type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Adresse :</mat-label>
        <input formControlName="adresse" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Complément :</mat-label>
        <input formControlName="complement" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Code Postal :</mat-label>
        <input formControlName="codePostal" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Ville :</mat-label>
        <input formControlName="ville" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Materiel :</mat-label>
        <input formControlName="materiel" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description :</mat-label>
        <input formControlName="description" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nombre Employés :</mat-label>
        <input formControleName="nombreEmployes" matInput type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Regularité :</mat-label>
        <input formControlName="regularite" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Particularité :</mat-label>
        <input formControlName="particularite" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Informations internes :</mat-label>
        <input formControlName="infoInterne" matInput type="text">
    </mat-form-field>
    <button color="primary" mat-raised-button>Nouveau client</button>
    <mat-form-field>
        <mat-label>Filtrer les clients :</mat-label>
        <input [(ngModel)]="filtreClient" formControlName="client" matInput type="search">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Client :</mat-label>
        <mat-select formControlName="client">
            <mat-option *ngFor="let client of (clients | filtreNomPrenom:['nom','prenom']:filtreClient)"
                        [value]=client>{{client.nom}} {{client.prenom}}</mat-option>
        </mat-select>
    </mat-form-field>

</form>
<button (click)="onSubmit()" color="primary" mat-raised-button>Ajouter</button>
